<div class="container">
    <div class="row">
       <div class="col-md-5 mx-auto">
        <form
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate>

          <div class="form-group">
            <label for="fname"><b>First Name</b></label>
            <input
              type="text"
              class="form-control"
              name="fname"
              [(ngModel)]="form.fname"
              required
              #fname="ngModel"
              placeholder="Enter your first name..."/>
            <div class="alert-danger" *ngIf="f.submitted && fname.invalid">
              <div *ngIf="fname.errors.required">First name is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="lname"><b>Last Name</b></label>
            <input
              type="text"
              class="form-control"
              name="lname"
              [(ngModel)]="form.lname"
              required
              #lname="ngModel"
              placeholder="Enter your last name..."/>
            <div class="alert-danger" *ngIf="f.submitted && lname.invalid">
              <div *ngIf="lname.errors.required">Last name is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="username"><b>Username</b></label>
            <input
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form.username"
              required
              minlength="3"
              maxlength="20"
              #username="ngModel"
              placeholder="Enter username..."/>
            <div class="alert-danger" *ngIf="f.submitted && username.invalid">
              <div *ngIf="username.errors.required">Username is required</div>
              <div *ngIf="username.errors.minlength">
                Username must be at least 3 characters
              </div>
              <div *ngIf="username.errors.maxlength">
                Username must be at most 20 characters
              </div>
            </div>
          </div>


          <div class="form-group">
            <label for="email"><b>Email</b></label>
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="form.email"
              required
              email
              #email="ngModel"
              placeholder="Enter email..."/>
            <div class="alert-danger" *ngIf="f.submitted && email.invalid">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="password"><b>Password</b></label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
              placeholder="Enter password..."/>
            <div class="alert-danger" *ngIf="f.submitted && password.invalid">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>

          <div class="form-group">
           <p>Already have account? <a routerLink="/auth/login" class="text-white" id="login">Sign in here</a></p>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-dark">Submit</button>
        </div> 

        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
        </form>

        <div class="alert alert-success" *ngIf="isSuccessful">
          Your registration is successful!
        </div>

        </div>
    </div>
 </div>