<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
    <div class="col-sm-12 col-md-6">
      <h6>About</h6>
      <p class="text-justify">CarHop is a free platform that aims to connect people across 
        cultures. With CarHop, people are able to reach their destinations and meet new people along the way. 
        It is a review-based application to ensure the safety of drivers and passengers.
      </p>
    </div>
    <div class="col-xs-6 col-md-3">
      <h6>Contact Us</h6>
      <ul class="footer-list">
        <li>
          <p>Email: carhopcontact@gmail.com</p>
        </li>
        <li>
          <p>Phone: 555-555-5555</p>
        </li>
      </ul>
    </div>
    <div class="col-xs-6 col-md-3">
      <h6>Address</h6>
      <ul class="footer-list">
        <li>
          <p>P.O. Box 2222</p>
        </li>
        <li>
          <p>Stardew, MD 23232</p>
        </li>
      </ul>
    </div>
  </div>
  </div>
  
</footer>
